@charset "utf-8";
/* CSS Document */

@charset "utf-8";
/* CSS Document */

.textheader{
	font: bold 15px Arial, Helvetica, sans-serif;
	padding:0 0 0 225px;
	color:#000000;
}
.textheader01{
	font: bold 13px Arial, Helvetica, sans-serif;
	padding:0 0 0 20px;
	color:#000000;
}
.textheader02{
	font: bold 13px Arial, Helvetica, sans-serif;
	padding:0 5px 0 20px;
	color:#000000;
}

#imagepos{
	position: absolute;
	top: 875px;
	left: 530px;
	height: 148px;
	width: 195px;
}
#padding01{	
	position:absolute;
	top: 945px;
	left: 345px;
	height: 37px;
	width: 195px;
}
.spanpadding01{
	padding:0 0 0 30px;
}
#padding02{	
	position:absolute;
	top: 945px;
	left: 725px;
	height: 37px;
	width: 195px;
}
.spanpadding02{
	padding:0 0 0 22px;
}
.spantext02{
	padding:50px 0 0 0;
}
#padding03{	
	position: absolute;
	top: 1045px;
	left: 358px;
	height: 37px;
	width: 195px;
}
.spanpadding03{
	padding:0 0 0 25px;
}
.spantext03{
	padding:30px 0 0 0;
}
#padding04{	
	position: absolute;
	top: 1045px;
	left: 530px;
	height: 37px;
	width: 195px;
}
.spanpadding04{
	padding:0 0 0 30px;
}
#padding05{	
	position: absolute;
	top: 1045px;
	left: 720px;
	height: 37px;
	width: 195px;
}
.spanpadding05{
	padding:0 0 0 35px;
}
#padding06{	
	position: absolute;
	top: 1115px;
	left: 445px;
	height: 37px;
	width: 195px;
}
.spanpadding06{
	padding:0 0 0 20px;
}
#padding07{	
	position: absolute;
	top: 1115px;
	left: 625px;
	height: 37px;
	width: 195px;
}
.spanpadding07{
	padding:0 0 0 15px;
}
#padding08{	
	position: absolute;
	top: 1165px;
	left: 306px;
}
#padding09{	
	position: absolute;
	top: 1200px;
	left: 520px;
	height: 37px;
	width: 195px;
}
#padding10{	
	position: absolute;
	top: 1245px;
	left: 325px;
	height: 57px;
	width: 595px;
}
#padding11{	
	position: absolute;
	top: 1350px;
	left: 370px;
	height: 50px;
	width: 500px;
}