@charset "utf-8";
/* CSS Document */

body {
	font-family:arial; 
	font-size:11.5px;
	}
#clear {clear:both} 
/* remove the list style */
#menunav {
    margin:0; 
    padding:0; 
    list-style:none;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 5px 5px;
}   
  
#menunav li {
	float:left;
	display:block;
	width:178px;
	background:#7E1500 ;
	/*background-image: url(../images/menu_image.jpg;*/
	position:relative;
	z-index:500;
	margin:0 1px;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
	behavior: url(PIE.htc);
	border-radius: 5px 5px 5px 5px;
    }
         
#menunav li a {
	display:block;
	padding:9px 5px 0 6px;
	font-weight:700;
	height:28px;
	text-decoration:none;
	text-align:center;
	color:#FFF;
    }
 
#menunav li a:hover {
	color:#E7C57E;
    }
     
#menunav a.selected {
         color:#fff;
    }
     
#menunav ul {
            position:absolute; 
            left:0; 
            display:none; 
            margin:0 0 0 -1px; 
            padding:0; 
            list-style:none;
			
        }
         
#menunav ul li {
            width:178px; 
            float:left; 
            border-top:1px solid #fff;
			
        }
         
#menunav ul a {
	display:block;
	height:21px;
	padding: 8px 3px;
	color:#FFF;
        }
         
#menunav ul a:hover {
            text-decoration:underline;  
        }
 
*html #menunav ul {
    margin:0 0 0 -2px;
}
