a:link, a:active, a:visited {
  color: #333333;
  text-decoration: none;
  font-weight:normal;
}

a:hover{
  text-decoration: underline;
  color: #333333;  
  font-weight:normal;    
}

.headline {
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  font-weight: bold;  
  color: #1B53B1;
}
.newsDate {
  color:#8D8D8D;
  font-weight: normal;
  font-size:11px;
}


