div.sdmenu {
	float:left;
	display:block;
	width:216px;
	background:#774F2D;
	position:absolute
	z-index:500;
	margin:0 3px;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
	font-weight: bold;
	/*overflow: hidden;*/
	/*border-bottom: 5px solid #ddd;*/
}
div.sdmenu div {
	background:#774F2D;
	overflow: hidden;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
	
}
div.sdmenu div:first-child {
	background:#774F2D;
	overflow:hidden;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
	padding: 2px 0px;
	/*color: #E3D5C1;*/
}
div.sdmenu div.collapsed {
	height:26px;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
	padding: 2px 0px;
	overflow:hidden;
}
div.sdmenu div span {
	display: block;
	padding: 6px;
	font-weight: bold;
	color: white;
	background: url(../images/expanded.gif) no-repeat 10px center;
	cursor: default;
	/*border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;*/
	/*border-bottom: 5px solid #ddd;*/
}
div.sdmenu div.collapsed span {
	background-image: url(../images/collapsed.gif);
}
div.sdmenu div a {
	padding: 8px 10px;
	background:#EFEFEF;
	display: block;
	/*border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;*/
	/*border-bottom: 5px solid #ddd;*/
}
div.sdmenu div a:hover {
	background : #C8C8C4 url(../images/linkarrow.gif) no-repeat right center;
	text-decoration: none;
}