div.sdmenu {
	float:left;
	display:block;
	width:216px;
	background:#6d0000;
	position:relative;
	z-index :500;
	margin:0 2px;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
	behavior: url(PIE.htc);
	font-weight: bold;
	overflow: hidden;
/*	border-bottom: 5px solid #ddd;*/
}
div.sdmenu div {
	background:#6d0000;
	overflow: hidden;
	border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;
/*	behavior: url(PIE.htc);*/	
}
div.sdmenu div:first-child {
	background:#6d0000;
	overflow:hidden;
	/*border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;*/
	/*behavior: url(PIE.htc);*/
	padding: 1px 0px;
	/*color: #E3D5C1;*/
}
div.sdmenu div.collapsed {
	height:26px;
	/*border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;*/
	/*behavior: url(PIE.htc);*/
	padding: 1px 0px;
	overflow:hidden;
}
div.sdmenu div span {
	display: block;
	padding: 6px;
	font-weight: bold;
	color: white;
	background: url(../images/expanded.gif) no-repeat 10px center;
	cursor: default;
	/*border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;*/
	/*border-bottom: 5px solid #ddd;*/
}
div.sdmenu div.collapsed span {
	background-image: url(../images/collapsed.gif);
}
div.sdmenu div a {
	padding: 8px 10px;
	background:#edb5aa;
	display: block;
	/*border-top-left-radius: 5px ;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px ;
	border-bottom-left-radius: 5px;*/
	/*border-bottom: 5px solid #ddd;*/
}
div.sdmenu div a:hover {
	background : #8e220d url(../images/linkarrow.gif) no-repeat right center;
	color:#E7C57E;
	text-decoration: none;
}