
.mbg1 {
background-image: url("images/background.jpg");
}
/*
html {
overflow-x:auto;
}*/

body {
  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.page-background {
position:absolute; 
z-index:-1;
width:100%; 
height:100%;
}
.content {
position:static;
padding:10px;
}

inherit{
	background:inherit;
}
.header{
	font: bold 22px Arial, Helvetica, sans-serif;
	padding:15px 10px 10px 10px;
	color:#000000;
}
.subheader{
	font: bold 14px/16px Arial, Helvetica, sans-serif;
	padding:19px 10px 10px 10px;
	color:#000000;
}
.subheaderclick{
	font: bold 13px Arial, Helvetica, sans-serif;
	padding:0 0 10px 10px;
	color:#000;
	text-decoration:underline
}
.regtext{
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:inherit;
	padding:0 13px 6px 13px;
	}
.text{
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:inherit;
	padding:0 9px 0 5px;
	}
.text a{
	text-decoration:underline;
	font:normal 11px/15px Arial, Helvetica, sans-serif;
	color:#BFBDBD; background-color:inherit;
	padding:0 0 6px 0;
	}
.text a:hover{
	text-decoration:none;
	}
/*----------------------HEADER PART END -------------------------------*/

	
.copyright {
	FONT: 8pt Arial, Helvetica, sans-serif;; 
	COLOR: #000000; 
	align:center;
	}


/*---------------------- Member login part start -------------------------------*/
.logintext{
	font:normal 24px/15px Arial, Helvetica, sans-serif;
	color:#555;
	background-color:inherit;
	padding:5px 0 10px 0;
	}
.username{
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	color:#333;
	background-color:inherit;
	}
.forgetpassword{
	font:normal 13px/15px Arial, Helvetica, sans-serif;
	color:#F00;
	background-color:inherit;
	text-decoration:none;
	}
.textfield{
	width:180px;
	height:16px;
	border:1px solid #DAD4D4;
	}
.click{
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#D22325;
	background-color:inherit;
	text-decoration:underline;
	}
.click a{
	text-decoration:full;
	font:normal 13px/20px Arial, Helvetica, sans-serif;
	color:#D22325; 
	background-color:inherit;
	}
.click a:hover{
	text-decoration:none;
	}
.categories{
	font:normal 20px/20px Arial, Helvetica, sans-serif;
	color:#00F;
	background-color:inherit;
	padding:30px 0 27px 0;
	}
.login {
	text-decoration:none;
	width:62px;
	height:20px;
	}
.login:hover {
	color:#D22325;  
	background-color:inherit;
	}
	
.req {
	color: red;
	font-size: 120%;
}
/*---------------------- Member login part end -------------------------------*/
#wrap{
	position:relative;
	}
#left{
	margin-right:80px;border:0 ;width:150px;
	}
#right{
	position:absolute;width:100px;right:0;top:0;border:0;
	}
.stock{
	font:bold 12px/15px Arial, Helvetica, sans-serif;
	color:#000;
	background-color:inherit;
	padding:0 0 2px 5px;
}

/*#padding{
padding:0 9px 5px 9px;
}*/
/*
#scroll{
	position:fixed;
	top:30%;
	left:65.5%;
   	right:15.8%;
}*/

/*------------------------ Committeess --------------------------------------------*/

.position{
	margin-left:auto;
	margin-right:auto;
}
.spanline{
	position: relative;
	height:30px;
}
.textheader{
	font: bold 17px Arial, Helvetica, sans-serif;
	position: relative;
	height: 5px;
}
.textheader01{
	font: bold 13px Arial, Helvetica, sans-serif;
	color:#000000;
}

.imagepos{
	height: 148px;
	width: 195px;
}


