@charset "utf-8";
/* CSS Document */

news title {
	font: bold 22px/24px Arial, Helvetica, sans-serif;
	padding:19px 10px 10px 10px;
	color:#000000;
}
news content{
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000000;
	background-color:inherit;
	padding:0 9px 5px 9px;
}